@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  /* Shared Styles */

.display-flex{
    display: flex;
}



  /* Navbar Style */
  


   ul{
    list-style: none;
    gap: 32px;
  }
  .nav-container{
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0px auto;
    padding-top: 24px;
  }
  .nav-middle ul li{
    flex-direction: row;
  }
  .nav-icon{
    width: 62px;
    height: 62px;
  }
  .nav-tittle{
    font-size: 2rem;
    font-weight: 800;
  }
  .nav-left{
    align-items: center;
  }
  .nav-home{
    font-size: 1.25rem;
    font-weight: 800;
    color: orange;
  }
  .nav-about{
    font-size: 1.25rem;
    font-weight: 800;
    color: #01ACFD;
  }
  .nav-facilities{
    font-size: 1.25rem;
    font-weight: 800;
    color: #05D4DF;
  }
  .nav-admission{
    font-size: 1.25rem;
    font-weight: 800;
    color: #5D58EF;
  }
  .nav-btn{
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: orange;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    
  }
  .menu-bar {
    display: none;
  }


  /* Hero-Kids Section */


  .kids-container{
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 0px auto;
    padding-top: 24px;
  }
  .kids-tittle{
    font-size: 3.5rem;
    font-weight: 800;
  }
  .Empowering{
    color: #FEA301;
  }
  .towards-vision{
    color: #01ACFD;
  }
  .hero-img img{
    max-width: 100%;
  }
  .kids-description{
    font-size: 1.25rem;
    color: #111111;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .btn-kids{
    font-size: 1.25rem;
    font-weight: 800;
    color: #FFFFFF;
    background-color: #111111;
    padding: 10px 47px;
    border-radius: 12px;
  }


  /* Student-Curriculm-Section */


  .curriculum-section-container{
    max-width: 100%;
    background-image: url(../images/bg.png);
  }
  .curriculum-tittle{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 60px;
    margin-bottom: -20px;
  }
  .curriculum-secton-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 0px auto;
    max-width: 1160px;
    padding: 150px 0px;
    gap: 30px;
  }
 
  .card-tittle{
    font-size: 1.5rem;
    font-weight: 800;
    color: #202020;
    margin-top: 30px;
    margin-bottom: 30px;
    
  }
  .card-description{
    font-size: 1rem;
    color: #808080;
    margin-bottom: 30px;
  }
  .btn-card1{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    color: #64C8FF;
   
  }
  .btn-card2{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    color: #F0AA00;
   
  }
  .btn-card3{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    color: #8700FF;
   
  }
  .card-1{
    padding: 50px;
    background-image: linear-gradient(to bottom, rgba(222, 245, 255, 1), #FFFFFF);
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
  }
  .card-2{
    padding: 50px;
    background-image: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
  }
  .card-3{
    padding: 50px;
    background-image: linear-gradient(to bottom, #EEE1FF, #FFFFFF);
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
  }
  .dobule-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -30px;
  }
  .rotate-img{
    transform: rotate(180deg);
  }


    /* Stories Section Styles */


    .story-section-container{
      max-width: 100%;
      background: url(../images/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    }

    .story-tittle{
      text-align: center;
      font-size: 3rem;
      font-weight: 800;
      margin-top: 60px;
    }

    .story-section-card{
      max-width: 1160px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
      padding: 150px 0px;
      gap: 20px;
    }

    .story-side-left{
      border-radius: 16px;
      box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
      background-color: #FFFFFF;

   }
     .story-side-right{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content:center;
      gap: 20px;
      margin: 0 auto;
      max-width: 100%;
    
     }
     .story-card-tittle{
      font-size: 1.5rem;
      font-weight: 800;
      color: #000000;
      padding: 40px 40px;
     }
     .story-card-description{
      font-size: 1rem;
      color: #666666;
      padding: 10px 40px 10px 40px;
     }
     .date-time1{
      font-size: 1rem;
      border: none;
      max-width: 174px;
      border-radius: 47px;
      text-align: center;
      color: #FFFFFF;
      background-color: #3CD8E8;
      padding: 15px 15px;
      position: relative;
      left: 40px;
      top: -30px;
     }
     .date-time2{
      font-size: 1rem;
      border: none;
      max-width: 174px;
      border-radius: 47px;
      text-align: center;
      color: #FFFFFF;
      background-color: #95B226;
      padding: 15px 15px;
      position: relative;
      left: 40px;
      top: -30px;
     }
     .date-time3{
      font-size: 1rem;
      border: none;
      max-width: 174px;
      border-radius: 47px;
      text-align: center;
      color: #FFFFFF;
      background-color: #be05f1;
      padding: 15px 15px;
      position: relative;
      left: 40px;
      top: -30px;
     }
     .date-time4{
      font-size: 1rem;
      border: none;
      max-width: 174px;
      border-radius: 47px;
      text-align: center;
      color: #FFFFFF;
      background-color: #f10567;
      padding: 15px 15px;
      position: relative;
      left: 40px;
      top: -30px;
     }
     .date-time5{
      font-size: 1rem;
      border: none;
      max-width: 174px;
      border-radius: 47px;
      text-align: center;
      color: #FFFFFF;
      background-color: #f19a05;
      padding: 15px 15px;
      position: relative;
      left: 40px;
      top: -30px;
     }
     .story-card1, img{
      border-radius: 10px;
     }
     .story-card-right{
      border-radius: 16px;
      box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
      background-color: #FFFFFF;
     }
     .story-card-tittle-right{
      font-size: 1rem;
      font-weight: 800;
      color: #000000;
      padding: 10px 35px;
     }
     .story-btn{
      display: flex;
      justify-content: center;
      align-items: center;
     }
      button{
      font-size: 1.25rem;
      font-weight: 800;
      color: #FFFFFF;
      background-color: #000000;
      padding: 15px 60px;
      border-radius: 12px;
      margin-top: -15px;
      margin-bottom: 60px;
     }

     /* Footer Section Styles */


     .footer-container{
      background: #01ACFD;
      display: flex;
      max-width: 100%;
      justify-content: space-evenly;
     }
     .footer-right{
      margin: 50px 0px 50px 0px;
     }
     .footer-center{
      margin: 50px 0px 50px 0px;
     }
     .footer-center ul li{
      padding: 10px 0px;
      color: #FFFFFF;
     }
     .footer-center h2{
      margin-bottom: 10px;
      color: #FFFFFF;
     }
     .footer-left{
      margin: 50px 0px 50px 0px;
     }
     .icon{
      width: 85px;
      height: 85px;
     }
     .footer-icon-tittle{
      font-size: 2.50rem;
      font-weight: 800;
      color: #FFFFFF;
     }
     .footer-right-description{
      margin-top: 35px;
      font-size: 1.25rem;
      color: #FFFFFF;
     }
     .footer-left h2{
      font-size: 1.50rem;
      font-weight: 800;
      color: #FFFFFF;
      margin-bottom: 32px;
     }
     .marque{
      font-size: 2.50rem;
      font-weight: 800;
      color: hotpink;
     }
     
  /* Media Query for Small device */

  @media screen and (max-width: 576px) {
    .nav-tittle,
    .nav-middle,
    .nav-right{
      display: none;
    }
    .menu-bar{
      display: block;
      width: 35px;
      height: 35px;
    }
    .nav-container{
      border: 1px solid orange;
      max-width: 100%;
      padding: 15px;
    }
    .kids-container{
      flex-direction: column-reverse;
      margin-top: 50px;
      text-align: center;
    }
    .curriculum-secton-card{
      grid-template-columns: 1fr;
      margin-top: -100px;
    }
    .dobule-arrow{
      display: none;
    }
    .story-side-left{
      display: none;
    }
    .story-card-right{
      grid-template-columns: 1fr;
      gap: none;
    }
    .story-card-right, img{
      max-width: 100%;
     }
     .date-time2{
      max-width: 50%;
     }
     .date-time3{
      max-width: 50%;
     }
     .date-time4{
      max-width: 50%;
     }
     .date-time5{
      max-width: 50%;
     }
     .footer-container{
      flex-direction: column;
      padding: 15px;
     }

    }