@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  /* Shared Styles */

.display-flex{
    display: flex;
}




  /* Navbar Style */
  
   ul{
    list-style: none;
    gap: 32px;
  }
  .nav-container{
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0px auto;
    padding-top: 24px;
  }
  .nav-middle ul li{
    flex-direction: row;
  }
  .nav-icon{
    width: 62px;
    height: 62px;
  }
  .nav-tittle{
    font-size: 2rem;
    font-weight: 800;
  }
  .nav-left{
    align-items: center;
  }
  .nav-home{
    font-size: 1.25rem;
    font-weight: 800;
    color: orange;
  }
  .nav-about{
    font-size: 1.25rem;
    font-weight: 800;
    color: #01ACFD;
  }
  .nav-facilities{
    font-size: 1.25rem;
    font-weight: 800;
    color: #05D4DF;
  }
  .nav-admission{
    font-size: 1.25rem;
    font-weight: 800;
    color: #5D58EF;
  }
  .nav-btn{
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: orange;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    
  }
  .menu-bar {
    display: none;
  }


  /* Hero-Kids Section */

  .kids-container{
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 0px auto;
    padding-top: 24px;
  }
  .kids-tittle{
    font-size: 3.5rem;
    font-weight: 800;
  }
  .Empowering{
    color: #FEA301;
  }
  .towards-vision{
    color: #01ACFD;
  }
  .hero-img img{
    max-width: 100%;
  }
  .kids-description{
    font-size: 1.25rem;
    color: #111111;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .btn-kids{
    font-size: 1.25rem;
    font-weight: 800;
    color: #FFFFFF;
    background-color: #111111;
    padding: 10px 47px;
    border-radius: 12px;
  }


  /* Student-Curriculm-Section */

  .curriculum-section-container{
    max-width: 100%;
    background-image: url(../images/bg.png);
  }
  .curriculum-tittle{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 60px;
    margin-bottom: -20px;
  }
  .curriculum-secton-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 0px auto;
    max-width: 1160px;
    padding: 150px 0px;
    gap: 30px;
  }
 
  .card-tittle{
    font-size: 1.5rem;
    font-weight: 800;
    color: #202020;
    margin-top: 30px;
    margin-bottom: 30px;
    
  }
  .card-description{
    font-size: 1rem;
    color: #808080;
    margin-bottom: 30px;
  }
  .btn-card1{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    color: #64C8FF;
   
  }
  .btn-card2{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    color: #F0AA00;
   
  }
  .btn-card3{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    color: #8700FF;
   
  }
  .card-1{
    padding: 50px;
    background-image: linear-gradient(to bottom, rgba(222, 245, 255, 1), #FFFFFF);
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
  }
  .card-2{
    padding: 50px;
    background-image: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
  }
  .card-3{
    padding: 50px;
    background-image: linear-gradient(to bottom, #EEE1FF, #FFFFFF);
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
  }
  .dobule-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -30px;
  }
  .rotate-img{
    transform: rotate(180deg);
  }

    /* Stories Section Styles */

    .story-tittle{
      text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 60px;
    }
   
    .story-section-card{
      max-width: 1160px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
      
    }
    .story-side-left{
      /* max-width:35%; */
      border-radius: 10px;
  box-shadow: 20px;
  background-color: aliceblue;
  /* height: 480px; */
  }
     .story-side-right{
      /* max-width: 55%; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content:center;
    gap: 10px;
    margin: 0 auto;
     }
  /* Media Query for Small device */

  @media screen and (max-width: 576px) {
    .nav-tittle,
    .nav-middle,
    .nav-right{
      display: none;
    }
    .menu-bar{
      display: block;
      width: 35px;
      height: 35px;
    }
    .nav-container{
      border: 1px solid orange;
      max-width: 100%;
      padding: 15px;
    }
    .kids-container{
      flex-direction: column-reverse;
      margin-top: 50px;
      text-align: center;
    }
    .curriculum-secton-card{
      grid-template-columns: 1fr;
      margin-top: -100px;
    }
    .dobule-arrow{
      display: none;
    }
  }